version: '2'

services:
  web:
    build: .
    environment:
      # In production this will be something like 
      # https://priobike.vkw.tu-dresden.de/production/priobike-frost-mirror
      - serviceRootUrl=http://localhost:8080/FROST-Server
      
      - http_cors_enable=true
      - http_cors_allowed.origins=*
      - persistence_db_driver=org.postgresql.Driver
      - persistence_db_url=jdbc:postgresql://localhost:5432/frost-db
      - persistence_db_username=postgres
      - persistence_db_password=frost-password
      - persistence_autoUpdateDatabase=true
    ports:
      - 8080:8080
volumes:
    postgis_volume: